{% include 'includes/header.html' %}

<section class="mt-5 mb-5 text-center" id="index">
    {% if request.user.is_authenticated %}
    <style>
        b {
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      </style>
      
    <b>Üst menüden işlemlerinizi gerçekleştirebilirsiniz.</b>
    {% else %}
    <b>İHA kiralamak için sağ taraftan oturum açabilir. Hesabınız mevcut değilse hesap oluşturabilirsiniz.</b>
    {% endif %}
</section>

{% include 'includes/footer.html' %}
</body>
<style>
    body {
      background-color:aquamarine;
    }
  </style>
  
</html>
